.my-navbar{
    background-color: #F8F9FA;
}

.body-head{
    background-image: url(imgs/body-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px;
    margin-bottom: 20px;
    color: #F6E086;
}

.footer{
    background-color: #F8F9FA;
    
}

/*HOME PAGE STYLING ENDS HERE --->*/

.about-sub1{
    background-image: url(imgs/back4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 210px 0;
    text-align: center;
    color: #F6E086;    
}

.about-main1{
    border-right: solid 1px red;
}

.about-main2{
    border-left: solid 1px red;
}

/*ABOUT PAGE STYLING ENDS HERE----->*/

.services-sub1{
    background-image: url(imgs/back1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px;
    margin-bottom: 20px;
    text-align: center;
}

/*SERVICES PAGE STYLING ENDS HERE----->*/

.projects-sub1{
    background-image: url(imgs/back7.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px;
    margin-bottom: 20px;
    text-align: center;
}

/*PROJECTS PAGE STYLING ENDS HERE----->*/

.contact-main{
    background-image: url(imgs/services.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px;
    margin-bottom: 20px;
    text-align: center;
}

.groove1{
    border-right: groove #1D9BF0;
}

.left-margin{
    margin-left: 40px;
}